/* Initialize styles CSS */
* {
    box-sizing: border-box;
}
a {
    color: inherit;
}

/* Declaration of global variables to use dark mode ou light mode */
:root {
    --darkMode__background: black;
    --darkMode__colorFont: #FFE46B;
    --darkMode__colorFocus: black;
    --lightMode__background: #FFE46B;
    --lightMode__colorFont: black;
    --lightMode__colorFocus: rgb(233, 197, 37);
}

/* Html style */
html {
    height: 100%;
    width: 100%;
}

/* Apply centering document */
body {
    background-color: var(--lightMode__background);
    color: var(--lightMode__colorFont);
    margin: 0.5rem 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

/* Header style */
.header-section {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}
h1 {
    font-size: 1.1em;
    padding: 0 0.2rem;
}
.toggle-switch {
    margin-left: auto;
}

/* Main content style */
.content-main {
    padding: 0 0.3rem;
}
.time-section {
    text-align: center;
}
.navbar__list-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0.5rem 0;
    margin: 0;
    border: none;
    background: none;
}
.navbar__list-button {
    border: none;
    background: none;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    cursor: pointer;
    border-radius: 0.3rem;
}
.navbar__list-button:focus {
    outline: none;
    box-shadow: none;
    border: 1px dotted var(--lightMode__colorFont);
    background: none;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    cursor: pointer;
    border-radius: 0.3rem;
    background: none var(--lightMode__colorFocus, 0.7);
}
.time__display {
    display: flex;
    justify-content: center;
}

/************* Start: CSS basic design countdown *************/
/* Sets the containers height and width */
.base-time {
    position: relative;
    height: 15rem;
    width: 15rem;
}
/* Flips the svg and makes the animation to move left-to-right */
.base-time__svg {
    transform: scaleX(-1);
}
/* Removes SVG styling that would hide the time label */
.base-time__circle {
    fill: none;
    stroke: none;
}
/* The SVG path that displays the timer's progress */
.base-time__path-elapsed {
    stroke-width: 0.3rem;
    stroke: lightgrey;
}
/* Styles of second ring (for animation) */
.base-time__path-remaining {
    /* Just as thick as the original ring */
    stroke-width: 0.3rem;
    /* Rounds the line endings to create a seamless circle */
    stroke-linecap: round;
    /* Makes sure the animation starts at the top of the circle */
    transform: rotate(90deg);
    transform-origin: center;
    /* One second aligns with the speed of the countdown timer */
    transition: 1s linear all;
    /* Allows the ring to change color when the color value updates */
    stroke: var(--lightMode__colorFont);
}
/* Show number of display */
.base-time__label {
    position: absolute;
    /* Size should match the parent container */
    height: 15rem;
    width: 15rem;
    /* Keep the label aligned to the top */
    top: 0;
    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Sort of an arbitrary number; adjust to your liking */
    font-size: 5em;
}
/************* End: CSS basic design countdown *************/

.time__start-button{
    border: none;
    background: none;
    padding: 0.7rem 0.7rem;
    border: 4px outset var(--lightMode__colorFocus);
    border-radius: 0.3rem;
    font-size: 1rem;
}
.time__start-button:focus {
    outline: none;
    background: none var(--lightMode__colorFocus);
    border: 4px inset var(--lightMode__colorFocus);
    cursor: pointer;
}
.time__message {
    font-weight: bold;
    font-size: 1.3em;
}

/************* Start: CSS tasks section *************/
.tasks-section__title {
    background-color: lightgrey;
    text-align: center;
    padding: 0 0.3rem 0.3rem 0.3rem;
    border-radius: 0.3rem 0.3rem 0 0;
}
/* Clear floats after the header */
.tasks-section__title:after {
    content: "";
    display: table;
    clear: both;
    font-size: 1.1em;
}
h3 {
    margin:0;
    padding: 0.5rem 0;
    font-size: 1.2em;
}
.tasks__title__input {
    margin: 0;
    border: 1px solid lightgrey;
    height: 100%;
    width: 75%;
    padding: 0.3rem;
    float: left;
}
.tasks__title__input:focus {
    outline: none;
}
.tasks__title__add-button{
    width: 25%;
    background: #cecece;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.3rem;
    border: 2px outset #cecece;
}
.tasks__title__add-button:hover {
    background-color: #bbb;
}
.tasks__title__add-button:focus {
    outline: none;
    cursor: pointer;
    border: 2px inset #cecece;
}
/* Remove margins and padding from the list */
.tasks__list {
    margin: 0;
    padding: 0;
}
/* Style the list items */
.tasks__list > li {
    cursor: pointer;
    position: relative;
    list-style-type: none;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    background: #eee;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Set all odd list items to a different color (zebra-stripes) */
.tasks__list > li:nth-child(odd) {
    background: #f9f9f9;
}
/* Darker background-color on hover */
.tasks__list > li:hover {
    background: #ddd;
}
/* When clicked on, add a background color and strike out text */
.tasks__list > li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
}
/* Add a "checked" mark when clicked on */
.tasks__list > li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 3px;
    left: 16px;
    transform: rotate(45deg);
    height: 1rem;
    width: 0.3rem;
}
/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem 0.8rem;
}
.close:hover {
    background-color: #bbb;
    color: white;
}
/************* End: CSS tasks section *************/

.info-Pomodoro {
    text-align: justify;
}
.info-Pomodoro__how-to-use__steps {
    padding: 0;
    margin-left: 1rem;
}

/* Footer style */
h5 {
    text-align: center;
    padding-bottom: 1rem;
}
